@charset "utf-8";

#wrap{}

/* HEADER 영역 */

#header{
    height: 148px;
    border-bottom: solid 2px darkred ;
    position: relative;
}


.head_inner{
    width: 940px;
    height: 100%;
    margin: 0 auto;
}

.util{
    float: left;
    margin-top: 10px;
}

.util li{
    display: inline-block;
    margin-right: 10px;
}

.util li a{}

.util li a img{}

.topmenu{
    float: right;
    margin-top: 10px;
}

.topmenu li{
    display: inline-block;
    margin-left: 10px;
}

.topmenu li a{
    font-size: 12px;
}

.topmenu li a:hover{
    font-size: 12px;
    color: darkred;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}

.nav{
    padding-top: 90px;
}

.main{}

.main > li{
    float: left;
    width: calc(100% / 6);
    text-align: center;
    position: relative;
}

.main > li > a{
    display: block;
    transition: all 0.3s;
    padding: 10px 0;
}

.main > li > a img{
    display: inline-block;
}

.main > li > a span{
    font-size: 12px;
    display: block;
    color: white;
    transition: all 0.3s;
}

.main > li:hover > a{
    background-color: darkred;
}

.main > li:hover > a img{
    filter: invert(100%) brightness(200%);
}

.main > li:hover > a span{
    display: block;
}


.sub{
    position: absolute;
    width: 100%;
    top: 65px;
    z-index: 6;
    display: none;
}

.sub li{}

.sub li a{
    display: block;
    height: 30px;
    line-height: 30px;
    color: #ddd;
    font-size: 12px;
}

.sub li a:hover{
    color: darkred
}

.sub_bg{
    width: 100%;
    height: 400px;
    background-color: gray;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 148px;
    z-index: 5;
    display: none;
}

/* main_slide영역 */
.main_slide{
    width: 100%;
    height: 480px;
    clear: both;
    position: relative;
}

.move{
    height: 480px;
}

.move .slick-slide{
    height: 480px;
}

.move .slick-slidei a{
    display: block;
    height: 480px;
}

.move .slick-slide a img{
    width: 100%;
}


.move .slick-dots{
    position: absolute;
    z-index: 7;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.move .slick-dots li{
    display: inline-block;
    margin: 5px;
}

.move .slick-dots li button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    text-indent: -9999px;
    background-color: silver;
    transition: all 0.3s;
}

.move .slick-dots li.slick-active button{
    background-color: darkred;
}

.main_inner{
    width: 940px;
    margin: 50px auto;
}

.cont1{}

.cont1_list{
    display: flex;
    justify-content: space-between;
}

.cont1_list li{}

.cont1_list li h3{
    padding-top: 30px;
    padding-left: 20px;
}

.cont1_list li p{}


.franchise{
    width: 225px;
    height: 272px;
    background-color: #faf9f7;
}

.mall{
    width: 460px;
    height: 272px;
}

.mall > p{
    padding-left: 20px;
    padding-top: 10px;
}

.mall_list{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}

.mall_list li:nth-child(2){
    border-left: 1px dotted gray;
    border-right: 1px dotted gray;
}

.mall_list li a{}

.mall_list li a img{
    width: 80%;
}

.mall_list li a p{
    font-size: 12px;
}

.store{
    width: 240px;
    height: 272px;
    background-color: #faf9f7;
}


.cont2{
    height: 152px;
    margin: 50px 0 30px;
}

.cont2_list{
    display: flex;
    justify-content: space-between;
}

.cont2_list li{}

.cont3{}

.cont3_list{
    display: flex;
    justify-content: space-between;
}

.cont3_list>li{
    width: 24%;
}

.cont3_list h3{
    margin-bottom: 10px;
}

.event_list{}

.event_list li{
    line-height: 1.8;
}

.event_list li a{
    float: left;
    width: 75%;
    /* 글씨 ...으로 바꾸는 방법 3단계가 짝꿍 ↓ */
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;

}

.event_list li span{
    float: right;
}

.b2b p{
    line-height: 1.8;
    letter-spacing: -1px;
    /* word-spacing: -2px; */
}

.more{
    margin-top: 5px;
}

.table{
    width: 100%;
    table-layout: fixed;
}

.table td{
    padding: 5px 0;
}

.col1{
    width: 75%;

    /* text-wrap: nowrap; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.col2{
    width: 25%;
    text-align: right;
}


.notice_list{
    text-align: right;
    padding-top: 10px;
}

.notice_list li{
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}

.notice_list li a{
    display: block;
}

.notice_list li:nth-child(1) a{
    border-right: 1px dotted gray;
    padding-right: 20px;
}

.notice_list li:nth-child(1) span{
    padding-right: 20px;
}

.notice_list li span{
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.cont4{
    margin: 50px 0;
    padding: 50px 0;
    border-top: 2px solid darkred; 
}

.con4 img{
    vertical-align: bottom !important;
}


#footer{
    background-color: darkred;
    padding: 20px 0;
}

.foot_inner{
    width: 940px;
    margin: 0 auto;
}

.f_menu{
    color: white;
    font-size: 12px;
}

.f_menu li{
    float: left;
}

.f_menu li a{
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    position: relative;
}

.f_menu li:first-child a{
    padding-left: 0 !important;
}

.f_menu li a::after{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 8px;
}

.f_menu li:last-child a::after{
    display: none;
}

.address{
    clear: both;
    font-style: normal;
    color: rgb(180, 180, 180);
    padding-top: 10px;
    font-size: 12px;
    line-height: 2;
}

.fix{
    position: fixed;
    z-index: 10;
    top: 50px;
    left: calc(50% + 500px);
}

.popup{
    width: 500px;
    height: 700px;
    border: 10px solid rgb(38, 157, 212);
    box-sizing: unset;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 50px;
}

.close{
    width: 100%;
    height: 50px;
    cursor: pointer;
}